body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(182, 68, 68);
}

section {
    margin-bottom: 5%;
    margin-top: 5%;
}

#wrapper1a {
    display: block;
}

#wrapper1b {
    display: none;
}

#wrapper1c {
    display: none;
}

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 4px solid blue;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: green;
    text-align: center;
    transition: all 0.2s;
    background-color: #FFFFFF;

}

.button1:hover {
    color: darkgreen;
    background-color: rgb(247, 224, 224);
}

@media all and (max-width:500px) {
    .button1 {
        display: block;
        margin: 0.4em auto;
    }
}

a {
    margin: 2% 30%;
    text-decoration: none;
    padding: 1%;
    color: green;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid blue;
    display: flex;
    justify-content: center;

    background-color: white;

}

a:hover {
    color: darkgreen;
    background-color: rgb(247, 224, 224);
}

form {
    display: block;
    margin-left: 35%;
}

h1 {
    color: wheat;
    font-weight: 900;
}

p {
    margin-left: 67%;
    color: ghostwhite;
    font-weight: 700;
    font-size: large;
}


#input-container {
    display: flex;
    justify-content: center;
}

input {
    margin: 2% 0%;
    text-decoration: none;
    padding: 1%;
    color: green;
    text-align: center;
    box-sizing: border-box;
    border: 4px solid blue;
    background-color: white;
    position: relative;
    right: 14vw;
}

header h1 {
    display: block;
    justify-content: center;
    display: flex;
    justify-content: center;
}